
.join-container {
    border: 2px solid blue; 
    height: auto;
    display: flex;
    justify-content: space-evenly;

    .login-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .inputfield {
            height: 25px;
            border-radius: 20px;
            padding-left: 10px;
            width: 290px;
        }
        
        .join-btn {
            width: 300px;
            height: 35px;
            margin-top: 10px;
        }

        .new-user-btn {
            margin-top: 10px;
            font-size: 14px;
            color: grey; 
            width: 300px;
            height: 35px;
            background-color: white;
            border: none; 
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: black; 
            }
        }
    }

    .new-user-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .inputfield {
            height: 25px;
            border-radius: 20px;
            padding-left: 10px;
            width: 290px;
        }

        .create-btn {
            width: 300px;
            height: 35px;
            margin-top: 10px;
        }
    }
}